@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <a asp-controller="Products" asp-action="Index" class="btn btn-success btn-block btn-lg" style="width=100%">Welcome to Online Phone Market </a>
    <hr />
</div>
